@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap');
/* global styles */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
}

.container {
	overflow: hidden;
	width: 1000px;
	margin: auto;
}
/* global styles */

/* header */
header {
  background-color: #e3f2fd;
}

.header-top {
  padding: 20px 0;
}

.logo {
  float: left;
  width: 35%;
}

.logo a {
  display: inline-block;
  margin-left: 45px;
}

.logo img {
  width: 240px;
  display: block;
}

.menu-plus {
  float: left;
  width: 65%;
  text-align: right;
}

.menu-plus a {
  display: inline-block;
  text-decoration: none;
  font-size: 38px;
  font-weight: 600;
  color: #ee3d49;
  margin-top: 5px;
  margin-right: 60px;
  padding: 5px;
}

.menu-plus a:hover {
  color: #1565c0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header-bg {
  background-image: url(../images/mac_banner_final.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  text-align: center;
  padding: 150px;
}

.header-content h1 {
  color: #1565c0;
  font-size: 52px;
  display: inline-block;
  font-weight: 800;
}

.link-outer {
  margin-top: 150px;
  margin-left: 260.43px;
}

.link-button {
  width: 179.14px;
  height: 45.33px;
  display: block;
  background: linear-gradient(to right, #ee3d49 50%, #1565c0 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.link-button:hover {
  background-position: left bottom;
}

.link-text {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  display: block;
}

.link-text a {
  text-decoration: none;
  color: #f9f9f9;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 45.33px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 600;
}

.hover {
  height: 3px;
  width: 0;
  background-color: #ee3d49;
  margin-left: 340px;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.header-content h1:hover + .hover {
	width: 220px;
}
/* header */

/* clients logo sec */
.clients-logo ul li {
  display: inline-block;
  width: 8%;
}

.clients-logo ul li a img {
	display: block;
	max-width: 100%;
}
/* clients logo sec */

/* service section */
.service-or-feature-sec .container {
	width: 950px;
}

.service-or-feature-sec {
  padding: 120px 0 70px;
  background-color: #f7f7f7;
}

.service-item {
  width: 33.33%;
  float: left;
  padding: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.service-item-box1 {
  background-image: url(../images/Macdigital+Strategy.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.service-item-box2 {
  background-image: url(../images/Mac+Digital+Content.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.service-item-box3 {
  background-image: url(../images/Macdigital+Training.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.service-item h2 {
  font-size: 28px;
  text-transform: capitalize;
  color: #1565c0;
  margin-bottom: 20px;
}

.service-item p {
  color: #1565c0;
  font-size: 14px;
  height: 85px;
}

.service-item a {
  color: #ee3d49;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 1px solid #ffd2cc;
}

.service-item a:hover {
  border-bottom: 1px solid #fff2ed;
  color: #ff767e;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-item div {
  padding: 90px 50px 70px 50px;
}

.service-item div:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 0 5px 15px #bbbbbb;
}
/* service section */

/* case studies sec */
.case-studies-sec .container {
	width: 950px;
}
.case-studies-sec {
  background-color: #f7f7f7;
  padding: 50px 0 110px;
}

.head {
  padding-left: 100px;
  margin-top: 140px;
  margin-bottom: 90px;
}

.head span {
  width: 25px;
  height: 2.5px;
  background-color: #ee3d49;
  display: block;
}

.head h3 {
  color: #1565c0;
  font-size: 16px;
  margin: 8px 0;
}

.case-studies {
  width: 33.33%;
  float: left;
  padding: 23px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.case {
  margin-bottom: 50px;
  background-color: #fff;
  padding: 0 0 35px 0;
}

.case:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 5px 15px #c1c1c1;   
}

.case img {
  width: 100%;
  display: block;
}

.content {
  padding: 30px;
}

.content span {
  color: #adadad;
  font-size: 14px;
}

.content h3 {
  color: #1968c1;
  font-weight: 400;
  font-size: 20px;
  margin: 12px 0;
  width: 210px;
}

.content a {
  color: #ee3d49;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  display: inline-block;
  padding: 10px 0 5px;
  border-bottom: 1px solid #ffbeb6;
}

.content a:hover {
  border-bottom: 1px solid #ee3d49;
  color: #ff767e;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.img-wrap {
  position: relative;
  z-index: 1;
}

.img-overlay {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  left: 0;
  z-index: 2;
  width: 270.63px;
  background-color: #6db1ff;
  background-color: rgba(60, 151, 255, 0.788235294117647);
  opacity: 0.6;
}

.img-wrap:hover .img-overlay {
  opacity: 0;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease;
}

.more-link {
  margin: 50px 0 10px;
  margin-left: 352.5px;
}

.more-link .link-button {
  width: 245.33px;
  height: 45.33px;
  background: linear-gradient(to right, #1565c0 50%, #ff6d57 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.more-link .link-button:hover {
  background-position: left bottom;
}

.more-link .link-text {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  display: block;
  box-shadow: 0 0 7px #ababab;
}

.more-link .link-text a {
  text-decoration: none;
  color: #f9f9f9;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 45.33px;
  letter-spacing: 2px;
  word-spacing: 2px;
}
/* case studies sec */

/* recommend sec */
.recommend-sec {
	background-color: #fff;
}

.recommend-content {
	padding: 80px 80px 150px;
	text-align: center;
}

.recommend-content p {
	color: #1565c0;
	font-size: 17px;
	line-height: 1.4;
	letter-spacing: 1px;
}

.recommend-content h4 {
	color: #1565c0;
	margin-top: 15px;
	font-size: 17px;
	word-spacing: 1px;
}
/* recommend sec */

/* team sec */
.team-sec {
  background-image: url(../images/mac_banner_final.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.team-sec .container {
	width: 950px;
}

.team-sec .case-studies {
  width: 25%;
  padding: 18px;
  margin-bottom: 90px;
}

.team-sec .case {
  background-color: #fff;
  padding: 0 0 40px 0;
  height: 300px;
}

.team-sec .case:hover {
  box-shadow: 0 5px 15px #c1c1c1;   
}

.team-sec .content {
  padding: 25px;
}

.team-sec .content h5 {
  color: #1565c0;
  font-size: 14px;
}

.team-sec .content h6 {
  color: #81cff4;
  font-size: 13.75px;
  margin: 3px 0 7px;
  font-weight: 400;
}

.team-sec .content a {
  color: #ee3d49;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  display: inline-block;
  padding: 10px 0 5px;
  border-bottom: 1px solid #ffbeb6;
}

.team-sec .content a:hover {
  border-bottom: 1px solid #ee3d49;
  color: #ff767e;
}

.team-sec .img-overlay {
  width: 201.5px;
  background-color: #d7ebf5;
  background-color: rgba(53, 156, 173, 0.3686274509803922);
  opacity: .6;
}
/* team sec */

/* chat sec */
.chat-sec {
  padding: 150px 0;
  background-color: #f7f7f7;
}

.chat-sec .container {
	width: 950px;
}

.chat-sec .head {
  margin: 0;
  padding-left: 114px;
}

.chat-sec .head span {
  width: 32px;
  height: 5.5px;
}

.chat-content h6 {
  font-size: 30px;
  color: #ee3d49;
  line-height: 1.5;
  width: 720px;
  margin: auto;
  font-weight: 800;
}

.chat-content h6 span {}
/* chat sec */

/* footer sec */
footer {
  padding: 50px 0 80px;
}

footer .container {
	width: 950px;
}

.footer-left {
	float: left;
	width: 50%;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-left ul {}

.footer-left ul li {
  display: block;
}

.footer-left ul li:nth-child(2) {
  margin-top: 14px;
}

.footer-left ul li a {
  text-decoration: none;
  color: #1565c0;
  font-size: 16px;
  border-bottom: 1px solid #b7d1f1;
  padding-bottom: 2px;
  line-height: 1.5;
}

.footer-right {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-left: 185px;
}

.footer-right nav ul {
	list-style: none;
}

.footer-right nav ul li {
  display: block;
  margin-bottom: 6px;
}

.footer-right nav ul li a {
  text-decoration: none;
  color: #1565c0;
  font-size: 16px;
  border-bottom: 1px solid #b7d1f1;
  padding-bottom: 2px;
}

.visit p {
  margin-top: 40px;
}

.visit p span {
  width: 7px;
  height: 7px;
  background-color: #ee3d49;
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
}

.visit p a {
  text-decoration: none;
  color: #1565c0;
  font-size: 16px;
  margin-left: 7px;
}

.bottom-content {
  padding-left: 20px;
  margin-top: 70px;
}

.bottom-content p {
  color: #1565c0;
  font-size: 12px;
}

.footer-left ul li a:hover {
  border-bottom: 1px solid #cfe5ff;
  color: #77a6da;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.footer-right nav ul li a:hover {
  border-bottom: 1px solid #cfe5ff;
  color: #77a6da;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/* footer sec */